RewriteEngine On
RewriteRule ^home/?$ 		index.php

RewriteRule ^dashboard/?$ 	index.php?com=asset&viewtype=dashboard

RewriteRule ^category-([0-9]+)?$ 	index.php?com=asset&viewtype=dashboard&cat=$1

RewriteRule ^cat-(.*)-product-(.*)?$ 	index.php?com=asset&viewtype=resultSearch&&cat=$1&product=$2

<Ifmodule mod_php5.c>
	php_flag display_errors  on
</Ifmodule>